<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Theme by <a href="https://bradleytaunt.com">Bradley Taunt</a>. BG from <a href="https://codepen.io/K-T">K-T</a>.
        <br/> Type by <a href="https://www.behance.net/gatype">Gatype</a>. Favicon by <a href="https://openmoji.org/">Openmoji</a>.
    </small>
</div>
