<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Theme by <a href="https://bradleytaunt.com">Bradley Taunt</a>
        <br/>Everything else like the data and images is owned by Anchemy.
    </small>
</div>
